@import 'variables';

#divList {
    display: 'flex'; 
    flex-direction: column;
    gap: 10px;
    justify-content: 'center'; 
    align-items: center;
    
}

.ant-list {
    width: 90%;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';   

}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: $primary;
    border-color: $secundary;
}



#deleteButton {
    width: 30%;
    border-radius: 10px;
}

.deleteButtonComponent {
    width: 25%;
}
