

$primary: #df2c7d;
$secundary : #a51153;

.ant-btn-primary {
    border: 30px;
    background-color: $primary;
    border-color: $secundary;
    &:hover{
        background-color: $primary;
        border-color: $secundary;
    }
    &:focus {
      background-color: $primary;
      border-color: $primary;
    }
  }


.ant-input:hover {
    border-color: $primary;
    outline: 0;
}

.ant-list {
    width: 80%;
    
}


